:root {
	--team-x-color: red;
	--team-x-color-dark: darkred;
	--team-o-color: blue;
	--team-o-color-dark: darkblue;
}
body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
	height: 100vh;
}

#app {
	position: relative;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}
.colored-x {
	color: var(--team-x-color);
}

.colored-o {
	color: var(--team-o-color);
}